astrolabe==0.4.0
atomic==0.7.3
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
ConfigArgParse==0.14.0
confluent-kafka==1.0.0
ganglia==0.3.0
idna==2.8
metrology==1.2.4
pycparser==2.19
pyodbc==4.0.26
requests==2.21.0
urllib3==1.24.2
 